@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --brand: 150 7% 6%; */
    --brand: 12 85% 48%;

    --navbar-background: 12 85% 48%;
    --navbar-foreground: 44 22% 90%;

    --background: 44 22% 90%;
    --foreground: 12 85% 48%;
    --foreground-secondary: 0 0% 100%;

    --muted: 40 12% 85%;
    --muted-foreground: 12 85% 48%;

    --border: 12 85% 48%;
    --input: 12 85% 48%;
    --ring: 12 85% 48%;
  }

  .inverted {
    --brand: 125 32% 8%;

    --navbar-background: 60 100% 95%;
    --navbar-foreground: 11 99% 60%;

    --background: 11 99% 60%;
    --foreground: 60 100% 95%;
    --foreground-secondary: 11 99% 60%;

    --muted: 60 4% 9%;
    --muted-foreground: 60 12% 82%;

    --border: 60 4% 9%;
    --input: 60 4% 9%;
    --ring: 60 4% 9%;
  }

  .dark {
    --brand: 11 99% 60%;

    --navbar-background: 150 7% 6%;
    --navbar-foreground: 60 100% 95%;

    --background: 150 7% 6%;
    --foreground: 60 100% 95%;
    --foreground-secondary: 150 7% 6%;

    --muted: 60 4% 9%;
    --muted-foreground: 0 0% 82%;

    --border: 60 11.1% 17.6%;
    --input: 60 4% 9%;
    --ring: 60 4% 9%;
  }
}

@layer components {
  .container {
    @apply w-full max-w-[1440px] px-md md:px-lg;
  }
  .section {
    @apply w-full py-lg md:py-2xl;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply bg-background text-foreground;
  }
}
