@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 100% 95%;
    --foreground: 150 7% 6%;

    --muted: 60 4% 9%;
    --muted-foreground: 0 0% 82%;

    --border: 60 4% 9%;
    --input: 60 4% 9%;
    --ring: 60 4% 9%;
  }

  .dark {
    --background: 150 7% 6%;
    --foreground: 60 100% 95%;

    --muted: 60 4% 9%;
    --muted-foreground: 0 0% 82%;

    --border: 60 4% 9%;
    --input: 60 4% 9%;
    --ring: 60 4% 9%;
  }
}

.text-display {
  font-size: calc((72 / 16) * 1rem);
  letter-spacing: calc((-2 / 16) * 1rem);
  line-height: 0.95;
  font-weight: 700;
}
.text-heading {
  font-size: calc((48 / 16) * 1rem);
  letter-spacing: calc((-0.4 / 16) * 1rem);
  line-height: 1;
  font-weight: 600;
}
.text-body {
  font-size: calc((24 / 16) * 1rem);
  letter-spacing: calc((1 / 16) * 1rem);
  line-height: 1.4;
  font-weight: 400;
}
.text-sub {
  font-size: calc((16 / 16) * 1rem);
  letter-spacing: calc((1 / 16) * 1rem);
  line-height: 1.4;
  font-weight: 300;
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply bg-background text-foreground;
  }
}
