@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: 270 100% 68%;

    --navbar-background: 150 7% 6%;
    --navbar-foreground: 60 100% 95%;

    --background: 150 7% 6%;
    --foreground: 60 100% 95%;
    --foreground-secondary: 150 7% 6%;

    --muted: 60 4% 9%;
    --muted-foreground: 0 0% 82%;

    --border: 60 11.1% 17.6%;
    --input: 60 4% 9%;
    --ring: 60 4% 9%;
  }
}

::-moz-selection {
  background-color: #008000;
}
::selection {
  background-color: #008000;
}

@layer components {
  .container {
    @apply mx-auto my-xl w-full max-w-[1440px] px-md py-lg md:my-xl md:px-lg md:py-xl;
  }
  .max-height {
    @apply min-h-[calc(100dvh-72px)];
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply bg-background text-foreground;
  }
}
